@use "../../../styles/breakpoints" as bkp;

.badge {
  align-items: center;
  border-radius: var(--space-2xs);
  color: var(--color-text-default);
  display: inline-flex;
  height: 22px;
  justify-content: center;
  padding: var(--space-4xs) var(--space-3xs);
  white-space: nowrap;

  &:global(.body-s) {
    font-weight: var(--font-weight-emphasis);
  }

  &[data-variant="neutral"] {
    background-color: var(--color-surface-muted);
  }

  &[data-variant="positive"] {
    background-color: var(--color-surface-positive);
  }

  &[data-variant="negative"] {
    background-color: var(--color-surface-negative);
  }
}

@include bkp.above-mobile {
  .badge {
    border-radius: var(--space-xs);
    height: 26px;
    padding: var(--space-3xs) var(--space-2xs);
  }
}
